<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiduMapPractic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54A0F0771C3DF826006A0479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54A0F0901C3DF827006A0479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54A0F09B1C3DF827006A0479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
